body{
    width: 600px;
    margin: auto;
    background-color: blanchedalmond;
    padding: 0 35px 35px 35px;
    border: 2px black;
}
img{
    display: block;
    margin: auto;
}
h2{

}
p{
	
	text-align: justify;
	font-size: 15px;
	line-height: 1.5;
	letter-spacing: 3px;
	margin: 20px 5px 10px 15px;
}
b{
    background-color: rgb(233, 63, 63);
}
h2{    
    padding: 25px 0;
    margin: 10px 50px;
    line-height: 1.5;
	letter-spacing: 3px;
    text-align: center;
    background-color: aquamarine;
    text-shadow: 2px 2px 0,5px black;
}
body,
h2,
p{
    padding: 25px;
    border: 1px solid black;
}
html{
    background-color: rgb(163, 128, 196);
}
i{
    color: rgb(80, 140, 219);
}
h2:hover{
    color:rgb(221, 10, 56)
}
